<DOCTYPE!>
	<html>
		<head>
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			{% block title %}{% endblock %}
		</head>

		<body>
			<div class="w3-bar w3-blue">
				<a href="{{url_for('signup')}}"><button class="w3-bar-item w3-button">Sign-Up</button></a>
				<a><button class="w3-bar-item w3-button" href="{{url_for('user')}}">User</button></a>
				<a><button class="w3-bar-item w3-button" href="{{url_for('logout')}}">Logout</button></a>
				<a href="{{url_for('home')}}"><button class="w3-bar-item w3-button">Home</button></a>
			</div>
			{% block content %}

			{% endblock %}
		</body>
	</html>